<% _t = "v.auth.creator" %>
<% _r = "v.auth.register" %>
<%= javascript_packs_with_chunks_tag "foremCreatorSignup", defer: true %>
<style>
  #page-content {
    display: flex;
    flex-direction: column;
  }

  #page-content-inner {
    display: flex;
    flex: 1;
    background: white;
  }
</style>
<main id="main-content" class="flex flex-1 justify-center flex-col crayons-layout crayons-layout--limited-xs">
  <div class="relative z-elevate p-4">
    <% if flash[:notice] %>
      <div class="crayons-notice crayons-notice--danger mb-6" role="alert">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <% any_errors = local_assigns[:resource]&.errors&.any? %>

    <%= form_for(@user, as: :user, data: { testid: "creator-signup-form" }, url: registration_path(:user)) do |f| %>
      <% if any_errors %>
        <div class="crayons-card crayons-card--secondary crayons-notice crayons-notice--danger my-8" role="alert" data-testid="signup-errors">
          <div class="crayons-card__header">
            <h3 class="crayons-card__headline">
              <%= t "errors", scope: _r, count: resource.errors.size %>
            </h3>
          </div>
          <div class="crayons-card__body">
            <ul>
              <% resource.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>

      <div class="align-center">
        <p class="pb-4 fs-2xl m:fs-3xl lh-tight fw-bold"><%= t("text1", scope: _t) %></p>
        <p class="color-base-70 fs-l m:fs-xl"><%= t("text2", scope: _t) %></p>
        <p class="color-base-70 fs-l m:fs-xl"><%= t("text3", scope: _t) %></p>
      </div>

      <div class="crayons-field mt-6">
        <%= f.label :name, t("field.name.label", scope: _r), for: "name", class: "crayons-field__label" %>
        <%= f.text_field :name, id: "name", placeholder: "John Doe", class: "crayons-textfield js-creator-signup-name", required: true %>

        <div class="js-creator-signup-username-hint-row hidden">
          <div class="fs-xs color-base-60 flex">
            <%= t "hint.text_html", scope: _t, start: tag("span", nil, true), end: "</span>".html_safe, # rubocop:disable Rails/ContentTag
                                    button: tag.button(
                                      [tag.span(class: "js-creator-signup-username-hint"), inline_svg_tag("pencil.svg", class: "cursor-pointer crayons-icon opacity-75 ml-1", aria_hidden: true, title: t("hint.icon", scope: _t))],
                                      class: "cursor-pointer border-none bg-transparent p-0 js-creator-edit-username flex color-base-90",
                                      role: "button",
                                      aria: { label: t("hint.aria_label", scope: _t) },
                                    ) %>
          </div>
      </div>

      <div class="crayons-field mt-6 <%= "hidden" unless any_errors %> js-creator-signup-username-row">
        <%= f.label :username, t("field.username.label", scope: _r), for: "username", class: "crayons-field__label" %>
        <%= f.text_field :username, pattern: "[A-Za-z0-9_]+", maxlength: "30", title: t("field.username.desc", scope: _r), id: "username", class: "js-creator-signup-username crayons-textfield",
                                    aria: { describedby: "username-helper-text" } %>
        <p id="username-helper-text" class="fs-xs color-base-60 mt-1"><%= t("field.username.desc", scope: _r) %></p>
      </div>

      <div class="crayons-field mt-6">
        <%= f.label :email, t("field.email.label", scope: _r), for: "email", class: "crayons-field__label" %>
        <%= f.email_field :email, placeholder: t("field.email.placeholder", scope: _r), autocomplete: "email", id: "email", class: "crayons-textfield", required: true %>
      </div>

      <div class="crayons-field mt-6">
        <%= f.label :password, t("field.password.label", scope: _r), class: "crayons-field__label" %>
        <div class="relative">
          <%= f.password_field :password, minlength: "8", class: "crayons-textfield js-password", placeholder: t("field.password.placeholder", scope: _r), required: true, aria: { describedby: "password-helper-text" } %>
          <button class="crayons-btn crayons-btn--ghost crayons-btn--s js-creator-password-visibility h-100 absolute z-elevate right-0" aria-label="<%= t("field.password.show", scope: _r) %>" aria-pressed="false">
            <%= inline_svg_tag("eye.svg", class: "crayons-icon js-eye", data: { testid: "mask-icon" }, aria_hidden: true, title: t("field.password.show", scope: _r)) %>
            <%= inline_svg_tag("eye-off.svg", class: "crayons-icon hidden js-eye-off", data: { testid: "unmask-icon" }, aria_hidden: true, title: t("field.password.hide", scope: _r)) %>
          </button>
        </div>
        <p id="password-helper-text" class="fs-xs color-base-60 mt-1"><%= t("field.password.desc", scope: _r) %></p>
      </div>

      <% if ForemInstance.needs_owner_secret? %>
        <% if params[:forem_owner_secret].present? %>
          <%= f.hidden_field :forem_owner_secret, value: params[:forem_owner_secret] %>
        <% else %>
          <div class="crayons-field mt-6">
            <%= f.label :forem_owner_secret, t("secret.label", scope: _r), class: "crayons-field__label" %>
            <%= f.password_field :forem_owner_secret, class: "crayons-textfield", required: ForemInstance.needs_owner_secret?, placeholder: t("secret.placeholder", scope: _r) %>
          </div>
        <% end %>
      <% end %>

      <div class="flex flex-col pt-6">
        <%= f.submit t("submit", scope: _t), class: "crayons-btn" %>
      </div>

    <% end %>
  </div>
  <%= inline_svg_tag("forem-background.svg", aria: true, title: t("v.auth.background"), class: "absolute bottom-0 right-0 hidden m:block") %>
</main>
