<% _t = "v.listings.delete" %>
<main id="main-content" class="crayons-layout crayons-layout--limited-l gap-0">
  <div class="crayons-card crayons-card--secondary text-styles text-styles--secondary text-padding -mb-1 mx-3 m:mx-6 mt-3">
    <%= @listing.title %>
  </div>
  <div class="crayons-card text-padding">
    <h1 class="crayons-subtitle-1 mb-2"><%= t("subtitle", scope: _t) %></h1>
    <p class="fs-l mb-4">
      <%= t "desc.text_html", scope: _t, action: link_to(@listing.published ? t("desc.unpublish", scope: _t) : t("desc.edit", scope: _t), edit_listing_path(@listing), data: { no_instant: "" }) %>
    </p>

    <%= form_tag listing_path(@listing), method: :delete do %>
      <button class="crayons-btn crayons-btn--danger"><%= t("submit", scope: _t) %></button>

      <a data-no-instant href="<%= edit_listing_path(@listing) %>" class="crayons-btn crayons-btn--secondary">
        <%= @listing.published ? t("unpublish", scope: _t) : t("edit", scope: _t) %>
      </a>
    <% end %>
  </div>
</main>
