<% _t = t.v.comments.settings %>
<% title _t.meta.title %>

<div class="crayons-layout crayons-layout--limited-m gap-0">
  <div class="crayons-card text-padding">
    <h1 class="crayons-title mb-4"><%= _t.heading %></h1>

    <div class="flex">
      <div class="pr-4 m:pr-8 flex-1">
        <% if @notification_subscription.persisted? %>
          <p class="fw-bold"><%= _t.state.show.subtitle %></p>
          <p class="fs-s color-base-60"><%= _t.state.show.desc %></p>
        <% else %>
          <p class="fw-bold"><%= _t.state.mute.subtitle %></p>
          <p class="fs-s color-base-60"><%= _t.state.mute.desc %></p>
        <% end %>
      </div>
      <%= form_for(@notification_subscription, url: "/notification_subscriptions/Comment/#{@comment.id}", method: "post", html: { class: "mute-form shrink-0" }) do |f| %>
        <input type="hidden" name="config" value="<%= @notification_subscription.persisted? ? "not_subscribed" : "all_comments" %>">
        <%= f.submit _t.subscribe[@notification_subscription.persisted? ? :mute : :unmute], class: "crayons-btn crayons-btn--secondary #{@notification_subscription.persisted? ? 'mute' : 'unmute'}" %>
      <% end %>
    </div>

    <% if NotificationSubscription.where(user_id: current_user, notifiable_type: "Article", notifiable_id: @comment.commentable_id, config: "all_comments").any? %>
      <div class="flex pt-6">
        <div class="pr-4 m:pr-8 flex-1">
          <p class="fw-bold"><%= _t.subscribe.subtitle %></p>
          <p class="fs-s color-base-60"><%= _t.subscribe.desc %></p>
        </div>
        <%= form_for(@notification_subscription, url: "/notification_subscriptions/Article/#{@comment.commentable_id}", method: "post", html: { class: "mute-form" }) do |f| %>
          <input type="hidden" name="config" value="not_subscribed">
          <%= f.submit "Unsubscribe from parent post", class: "crayons-btn crayons-btn--secondary" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
