<nav class="fs-s align-center block" aria-label="<%= t("views.articles.conduct.aria_label") %>">
  <a href="<%= code_of_conduct_path %>" class="crayons-link crayons-link--secondary"><%= t("views.articles.conduct.code") %></a>
  <span class="opacity-25 px-2" role="presentation">&bull;</span>
  <a href="<%= report_abuse_path %>" class="crayons-link crayons-link--secondary"><%= t("views.articles.conduct.report") %></a>
</nav>
