<% _t = "v.articles.lock" %>
<% title(t("meta.title", scope: _t)) %>
<main id="main-content" class="crayons-layout crayons-layout--limited-l gap-0">
  <div class="crayons-card crayons-card--secondary text-styles text-styles--secondary text-padding -mb-1 mx-3 m:mx-6 mt-3">
    <%= @article.title %>
  </div>
  <div class="crayons-card text-padding">
    <h1 class="crayons-subtitle-1 mb-2"><% t("heading", scope: _t) %></h1>
    <p class="fs-l mb-4">
      <% t("desc_html", scope: _t) %>
    </p>

    <%= form_for @discussion_lock, method: :post do |f| %>
      <div class="form-group">
        <%= f.hidden_field :article_id, value: @article.id %>
        <div class="crayons-field mb-5">
          <%= f.label :reason, t("reason.label", scope: _t), class: "crayons-field__label" %>
          <%= f.text_field :reason,
                           placeholder: t("reason.placeholder", scope: _t),
                           required: false,
                           class: "crayons-textfield" %>
        <div class="crayons-field">
          <%= f.label :notes, t("notes.label", scope: _t), class: "crayons-field__label" %>
          <%= f.text_field :notes,
                           placeholder: t("notes.placeholder", scope: _t),
                           required: false,
                           class: "crayons-textfield" %>
        </div>
      </div>
      <%= f.submit t("submit", scope: _t), class: "crayons-btn crayons-btn--danger" %>
      <a data-no-instant href="<%= dashboard_path %>" class="crayons-btn crayons-btn--ghost"><%= t("cancel", scope: _t) %></a>
    <% end %>
  </div>
</main>
