<% _t = t.v.articles.unlock %>
<% title(_t.meta.title) %>
<main id="main-content" class="crayons-layout crayons-layout--limited-l gap-0">
  <div class="crayons-card crayons-card--secondary text-styles text-styles--secondary text-padding -mb-1 mx-3 m:mx-6 mt-3">
    <%= @article.title %>
  </div>
  <div class="crayons-card text-padding">
    <h1 class="crayons-subtitle-1 mb-2"><%= _t.heading %></h1>
    <p class="fs-l mb-4">
      <%= _t.desc %>
    </p>

    <div class="fs-l mb-5">
      <div class="fw-bold">
        <%= _t.reason %>
      </div>
      <em>
        <%= @discussion_lock.reason %>
      </em>
    </div>

    <div class="fs-l mb-5">
      <div class="fw-bold">
        <%= _t.notes %>
      </div>
      <em>
        <%= @discussion_lock.notes %>
      </em>
    </div>

    <%= form_for @discussion_lock, method: :delete do |f| %>
      <div class="form-group">
        <%= f.hidden_field :article_id, value: @article.id %>
      </div>
      <%= f.submit _t.submit, class: "crayons-btn crayons-btn--danger" %>
      <a data-no-instant href="<%= dashboard_path %>" class="crayons-btn crayons-btn--ghost"><%= _t.cancel %></a>
    <% end %>
  </div>
</main>
