<div class="crayons-layout__sidebar-left search-nav px-3 m:px-0">
  <a class="query-filter-button crayons-link crayons-link--block" data-filter="class_name:Article" href="javascript:;">
    <%= t.v.search.nav.posts %>
  </a>
  <a class="query-filter-button crayons-link crayons-link--block" data-filter="class_name:PodcastEpisode" href="javascript:;">
    <%= t.v.search.nav.podcasts %>
  </a>
  <a class="query-filter-button crayons-link crayons-link--block" data-filter="class_name:User" href="javascript:;">
    <%= t.v.search.nav.people %>
  </a>
  <a class="query-filter-button crayons-link crayons-link--block" data-filter="class_name:Comment" href="javascript:;">
    <%= t.v.search.nav.comments %>
  </a>
  <a class="query-filter-button my-posts-query-button crayons-link crayons-link--block" data-filter="MY_POSTS" href="javascript:;">
    <%= t.v.search.nav.my %>
  </a>
</div>
