<% _t = "v.settings.password" %>
<div class="crayons-card crayons-card--content-rows">
  <header>
    <h2 class="crayons-subtitle-1">
      <%= t("heading", scope: _t) %>
    </h2>
    <p class="color-base-70">
      <%= t "desc_html", scope: _t, path: new_user_password_path, email: current_user.email %>
    </p>
  </header>
  <%= form_with(url: user_update_password_path, data: { testid: "update-password-form" }) do |f| %>
    <div class="crayons-field mb-4">
      <%= f.label :current_password, t("current", scope: _t), class: "crayons-field__label" %>
      <%= f.password_field :current_password, class: "crayons-textfield", autocomplete: "off", required: true %>
    </div>
    <div class="crayons-field mb-4">
      <%= f.label :password, t("new", scope: _t), class: "crayons-field__label" %>
      <%= f.password_field :password, class: "crayons-textfield", autocomplete: "off", required: true %>
    </div>
    <div class="crayons-field mb-4">
      <%= f.label :password_confirmation, t("confirm", scope: _t), class: "crayons-field__label" %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "crayons-textfield", required: true %>
    </div>
    <button class="crayons-btn crayon-btn--secondary" type="submit"><%= t("submit", scope: _t) %></button>
  <% end %>
</div>
