<% _t = "v.users.account" %>
<%= render "users/additional_authentication" %>

<%= render "users/account_set_password" %>

<%= render "users/account_providers_emails" %>

<div class="crayons-card crayons-card--content-rows">
  <header>
    <h2 class="mb-2"><%= t "api.heading", scope: _t, community: community_name %></h2>
    <p><%= t "api.desc_html", scope: _t, community: community_name, doc: link_to(t("api.doc", scope: _t), "https://developers.forem.com/api") %></p>
  </header>

  <div>
    <h3 class="mb-2"><%= t("api.gen.heading", scope: _t) %></h3>
    <%= form_tag users_api_secrets_path, method: :post do %>
      <%= fields_for :api_secret do |api_secret| %>
        <div class="crayons-field mb-6">
          <%= api_secret.label(:description, t("api.gen.label", scope: _t), class: "crayons-field__label") %>
          <p class="crayons-field__description"><% t("api.gen.text", scope: _t) %></p>
          <%= api_secret.text_field(:description, placeholder: t("api.gen.placeholder", scope: _t), required: true, class: "crayons-textfield") %>
        </div>
      <% end %>
      <button class="crayons-btn crayon-btn--secondary" type="submit"><%= t("api.gen.submit", scope: _t) %></button>
    <% end %>
  </div>

  <% unless @user.api_secrets.empty? %>
    <div>
      <h3><%= t("api.active.heading", scope: _t) %></h3>

      <% @user.api_secrets.order(created_at: :desc).each do |api_secret| %>
        <details class="p-4 mt-2 crayons-card crayons-card--secondary">
          <summary class="title fw-medium"><%= api_secret.description %></summary>
          <div class="flex pt-2">
            <div class="flex-1 pl-4">
              <p class="ff-monospace"><%= api_secret.secret %></p>
              <p class="fs-s"><%= t "api.active.created", scope: _t, time: tag.time(api_secret.created_at.to_s, datetime: api_secret.created_at.rfc3339) %></p>
            </div>
            <%= form_tag users_api_secret_path(api_secret.id), class: "api__secret__revoke", method: :delete do %>
              <%= button_tag t("api.revoke", scope: _t), class: "crayons-btn crayons-btn--danger" %>
            <% end %>
          </div>
        </details>
      <% end %>
    </div>
  <% end %>
</div>

<div class="crayons-card crayons-card--content-rows">
  <h2 class="crayons-subtitle-1">
    <%= t("export.heading", scope: _t) %>
  </h2>

  <% if @user.export_requested? %>
    <div class="crayons-notice crayons-notice--warning" aria-live="polite">
      <p><%= t("export.requested", scope: _t) %></p>
    </div>
  <% else %>
    <p class="-mt-2"><%= t("export.desc", scope: _t) %></p>

    <%= form_for(@user, html: { id: nil }) do |f| %>
      <div class="crayons-field crayons-field--checkbox mb-6">
        <%= f.check_box :export_requested, class: "crayons-checkbox" %>
        <%= f.label :export_requested, t("export.label", scope: _t), class: "crayons-field__label" %>
      </div>
      <%= f.hidden_field :tab, value: @tab, id: nil %>
      <div><button type="submit" class="crayons-btn"><%= t("export.submit", scope: _t) %></button></div>
    <% end %>
  <% end %>
</div>

<div class="crayons-card crayons-card--content-rows">
  <h2 class="crayons-subtitle-1 color-accent-danger">
    <%= t("v.users.danger") %>
  </h2>

  <% if @user.identities.enabled.size > 1 %>
    <div class="grid gap-2">
      <h3><%= t("remove.heading", scope: _t) %></h3>
      <p><%= t("remove.desc1", scope: _t) %></p>
      <p><%= t("remove.desc2", scope: _t) %></p>
      <ul class="list-disc pl-6">
        <li><%= t("remove.desc2a", scope: _t) %></li>
        <li><%= t("remove.desc2b", scope: _t) %></li>
      </ul>
      <p>
        <%= t("remove.desc3", scope: _t) %>
        <%= render partial: "users/account_providers_settings" %>
      </p>
    </div>

    <% authentication_enabled_providers_for_user.each do |provider| %>
      <% onsubmit = "return confirm('#{t 'remove.confirm', scope: _t, provider: provider.official_name}');" %>
      <%= form_tag users_remove_identity_path, method: :delete, onsubmit: onsubmit do %>
        <%= hidden_field_tag :provider, provider.provider_name %>

        <button class="crayons-btn crayons-btn--danger crayons-btn--icon-left" type="submit">
          <%= inline_svg_tag("#{provider.provider_name}.svg", aria: true, class: "crayons-icon", title: provider.official_name) %>
          <%= t "remove.submit", scope: _t, provider: provider.official_name %>
        </button>
      <% end %>
    <% end %>
  <% end %>

  <div class="grid gap-2">
    <h3><%= t("delete.heading", scope: _t) %></h3>

    <% if current_user.email? %>
      <%= form_tag user_request_destroy_path, method: :post, autocomplete: "off", id: "delete__account", class: "grid gap-2" do %>
        <p><%= t("delete.desc1", scope: _t) %></p>
        <ul class="list-disc pl-6">
          <li><%= t("delete.desc1a", scope: _t) %>
            <%= render partial: "users/account_providers_settings" %>
          </li>

          <%# TODO: expand the delete messaging later %>
          <li><%= t("delete.desc1b", scope: _t) %></li>
          <li><%= t("delete.desc1c", scope: _t) %></li>
        </ul>
        <div><button class="crayons-btn crayons-btn--danger" id="delete__account__btn" type="submit"><%= t("delete.submit", scope: _t) %></button></div>
      <% end %>
    <% else %>
      <p><%= t "delete.desc2_html", scope: _t, email: link_to(t("delete.provide", scope: _t), "/settings/profile") %></p>
    <% end %>
  </div>

  <div>
    <p>
      <%= t("contact_prompts.if_any_questions_html") %>
    </p>
  </div>
</div>
