<% _t = "v.users.custom" %>
<%= javascript_packs_with_chunks_tag "stickySaveFooter", defer: true %>

<%= form_for @users_setting,
             url: users_settings_path,
             html: { id: "ux-customization-form", class: "sticky-footer-form" } do |f| %>
  <%= f.hidden_field :user_id, value: @users_setting.user_id, id: nil %>
  <%= f.hidden_field :tab, value: @tab, id: nil %>

  <div class="crayons-card crayons-card--content-rows">
    <h2 class="crayons-subtitle-1">
      <%= t("appearance", scope: _t) %>
    </h2>

    <fieldset class="crayons-field">
      <legend class="crayons-field__label"><%= t("theme", scope: _t) %></legend>
      <div class="theme-selector-field grid gap-4 grid-cols-2 l:grid-cols-3">
        <% Users::Setting.config_themes.keys.each do |theme| %>
          <%= render partial: "theme_selector", locals: { f: f, theme: theme } %>
        <% end %>
      </div>
    </fieldset>

    <div class="crayons-field">
      <%= f.label :config_font, t("font", scope: _t), class: "crayons-field__label" %>
      <div class="theme-selector-field grid gap-4 grid-cols-2 l:grid-cols-3">
        <% Users::Setting.config_fonts.keys.each do |font| %>
          <%= render partial: "font_selector", locals: { f: f, font: font } %>
        <% end %>
      </div>
    </div>

    <div class="crayons-field">
      <%= f.label :config_navbar, t("navbar", scope: _t), class: "crayons-field__label" %>
      <div class="theme-selector-field grid gap-4 grid-cols-2 l:grid-cols-3">
        <% Users::Setting.config_navbars.keys.each do |navbar| %>
          <%= render partial: "navbar_selector", locals: { f: f, navbar: navbar } %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="crayons-card crayons-card--content-rows">
    <h2 class="crayons-subtitle-1">
      <%= t("writing", scope: _t) %>
    </h2>
    <div class="crayons-field">
      <%= f.label :editor_version, t("editor", scope: _t), class: "crayons-field__label" %>
      <div class="theme-selector-field grid gap-4 grid-cols-2 l:grid-cols-3">
        <% Users::Setting.editor_versions.keys.each do |version| %>
          <%= render partial: "editor_selector", locals: { f: f, version: version } %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="crayons-card crayons-card--content-rows">
    <h2 class="crayons-subtitle-1">
      <%= t("content", scope: _t) %>
    </h2>
    <div class="crayons-field">
      <%= f.label :experience_level, t("level", scope: _t), class: "crayons-field__label" %>
      <div class="theme-selector-field grid grid-cols-5">
        <% user_experience_levels.each_with_index do |exp, i| %>
          <%= render partial: "experience_selector", locals: { f: f, exp: exp, i: i, label: user_experience_labels } %>
        <% end %>
      </div>
      <p>
        <%= t("level_desc", scope: _t) %>
      </p>
    </div>
  </div>

  <div class="crayons-card crayons-card--content-rows">
    <header>
      <h2 class="crayons-subtitle-1">
        <%= t("sponsor", scope: _t) %>
      </h2>
      <p>
        <%= t("sponsor_desc", scope: _t) %>
      </p>
    </header>

    <fieldset class="grid gap-4">
      <div class="crayons-field crayons-field--checkbox">
        <%= f.check_box :display_sponsors, class: "crayons-checkbox" %>
        <%= f.label :display_sponsors, t("sponsor_field", scope: _t), class: "crayons-field__label" %>
      </div>

      <div class="crayons-field crayons-field--checkbox">
        <%= f.check_box :permit_adjacent_sponsors, class: "crayons-checkbox" %>
        <%= f.label :permit_adjacent_sponsors, t("adjacent", scope: _t), class: "crayons-field__label" %>
      </div>
    </fieldset>
  </div>

  <div class="crayons-card crayons-card--content-rows">
    <header>
      <h2 class="crayons-subtitle-1">
        <%= t("announce", scope: _t) %>
      </h2>
      <p>
        <%= t("announce_desc", scope: _t) %>
      </p>
    </header>

    <fieldset class="grid gap-4">
      <div class="crayons-field crayons-field--checkbox">
        <%= f.check_box :display_announcements, class: "crayons-checkbox" %>
        <%= f.label :display_announcements, t("announce_field", scope: _t), class: "crayons-field__label" %>
      </div>
    </fieldset>
  </div>

  <div class="save-footer crayons-card crayons-card--content-rows">
    <button class="crayons-btn" type="submit"><%= t("save", scope: _t) %></button>
  </div>
<% end %>
