<% _t = t.v.users.extensions %>
<%= render partial: "response_templates" %>

<% if FeatureFlag.enabled?(:connect) %>
  <div class="crayons-card crayons-card--content-rows">
    <h2 class="crayons-subtitle-1">
      <%= _t.connect %>
    </h2>
    <%= form_for(@users_setting, url: users_settings_path, html: { id: nil, class: "grid gap-6" }) do |f| %>
      <div class="crayons-field">
        <%= f.label :inbox_type, "Inbox privacy", class: "crayons-field__label" %>
        <p class="crayons-field__description"><%= _t.privacy %></p>
        <%= f.select :inbox_type, [[_t.open, "open"], [_t.private, "private"]], {}, { class: "crayons-select" } %>
      </div>

      <div class="crayons-field">
        <%= f.label :inbox_guidelines, _t.guidelines.label, class: "crayons-field__label" %>
        <p class="crayons-field__description">
          <%= _t.optional %>
        </p>

        <%= f.text_area :inbox_guidelines, maxlength: 200, class: "crayons-textfield", rows: 3, placeholder: _t.guidelines.placeholder %>
      </div>

      <%= f.hidden_field :tab, value: @tab, id: nil %>
      <button type="submit" class="crayons-btn w-max">
        <%= _t.save_connect %>
      </button>
    <% end %>
  </div>
<% end %>

<%= render partial: "publishing_from_rss" %>

<div class="crayons-card crayons-card--content-rows">
  <header>
    <h2 class="crayons-subtitle-1 flex items-center">
      <%= _t.web %>
      <span class="ml-2 crayons-indicator crayons-indicator--accent"><%= t.v.beta %></span>
    </h2>
    <p class="color-base-70">
      <%= _t.micro %><a href="https://dev.to/hacksultan/web-monetization-like-i-m-5-1418"><%= _t.learn %></a>
    </p>
  </header>
  <%= form_for(@user, html: { id: nil, class: "grid gap-4" }) do |f| %>
    <div class="crayons-field">
      <%= f.label :payment_pointer, _t.payment, class: "crayons-field__label" %>
      <%= f.text_field :payment_pointer, class: "crayons-textfield", placeholder: "$pay.somethinglikethis.co/value" %>
    </div>
    <%= f.hidden_field :tab, value: @tab, id: nil %>
    <button type="submit" class="crayons-btn w-max"><%= _t.save_web %></button>
  <% end %>
</div>

<%= render partial: "integrations" %>
<%= render partial: "users/integrations_github_repositories", locals: { show_integration: @github_repositories_show } %>
