<% _t = "v.users.destroy" %>
<div class="user-settings-page crayons-layout crayons-layout--limited-l gap-0">
  <div class="crayons-card min-w-0 text-padding">
    <h2 class="crayons-title mb-4"><%= t("heading", scope: _t) %></h2>
    <div class="settings-form">
        <%= form_tag user_full_delete_path, method: :delete, autocomplete: "off", id: "delete__account", class: "grid gap-4 mb-4" do %>
          <%= t("desc", scope: _t) %>
          <ul class="my-0 ml-6 list-disc">
            <li><%= t "desc_1", scope: _t, twitter: link_to(t("twitter", scope: _t), "https://twitter.com/settings/applications"), github: link_to(t("github", scope: _t), "https://github.com/settings/applications") %>
            </li>
            <%# TODO: expand the delete messaging later %>
            <li><%= t("desc_2", scope: _t) %></li>
            <li><%= t("desc_3", scope: _t) %></li>
          </ul>
          <h3><%= t("to_delete", scope: _t) %></h3>
        <div class="crayons-field m:w-50">
          <label for="delete__account__username__field" class="crayons-field__label">
            <%= t("type", scope: _t) %>
          </label>
          <input type="text" name="delete__account__username__field" class="crayons-textfield " id="delete__account__username__field" placeholder="<%= t("username", scope: _t) %>">
        </div>
        <div class="crayons-field m:w-50">
          <label for="delete__account__verification__field" class="crayons-field__label">
            <%= t "confirm", scope: _t, word: t("word", scope: _t) %>
          </label>
          <input type="text" name="delete__account__verification__field" class="crayons-textfield" id="delete__account__verification__field">
        </div>
        <div>
          <button class="crayons-btn crayons-btn--danger" id="delete__account__btn" type="submit" disabled="true">
            <%= t("submit", scope: _t) %>
          </button>
        </div>
        <% end %>
      <script>
        const deleteAccountBtn = document.getElementById('delete__account__btn');
        const deleteAccountUsernameInput = document.getElementById('delete__account__username__field');
        const deleteAcccountVerificationInput = document.getElementById('delete__account__verification__field');
        function bothInputsVerified() {
          return deleteAccountUsernameInput.value === '<%= @user.username %>' && deleteAcccountVerificationInput.value === "<%= t("word", scope: _t) %>";
        }
        const disableDeleteAccountBtn = () => { deleteAccountBtn.disabled = !bothInputsVerified() };
        deleteAccountUsernameInput.addEventListener('input', disableDeleteAccountBtn);
        deleteAcccountVerificationInput.addEventListener('input', disableDeleteAccountBtn);
      </script>
      <p>
        <%= t "ghost", scope: _t, ghost: link_to("@ghost", "/ghost"), click: email_link(text: t("click", scope: _t), additional_info: { subject: "Request Account Deletion", body: @email_body }) %>
      </p>

      <p>
        <%= t("contact_prompts.if_any_questions_html") %>
      </p>
    </div>
  </div>
</div>
