<div class="ltag_dialogue dialogue-<%= side %>">
  <figure class="ltag_dialogue-fig">
    <img
      src="<%= icon %>" alt="[<%= name %>]"
      <% if border %> style="border-color: <%= border %>"<% end %>>
    <figcaption><%= name %></figcaption>
  </figure>
  <div
    class="ltag_dialogue-text"
    style="<% if back %>background-color: <%= back %>;<% end %><% if border %>border-color: <%= border %>;<% end %>">
    <%== content %>
  </div>
</div>
