<% named = name || I18n.t("migdal.liquid.glyph.no_name") %>
<%# manually wrapped by <a> to bypass vanilla image wrapper %>
<a href="<%= src %>"><img src="<%= src %>" alt="[<%= named %>]" title="<%= named %>" class="ltag_glyph" <% if align %> style="vertical-align: <%= align %> !important"<% end %> /></a>