<% _t = "views.stats" %>
<nav class="crayons-tabs crayons-tabs--analytics" aria-label="<%= t("period.aria_label", scope: _t) %>">
  <ul class="crayons-tabs__list">
    <li>
      <button data-text="<%= t("period.week", scope: _t) %>" class="crayons-tabs__item crayons-tabs__item--current" id="week-button" aria-current="page"><%= t("period.week", scope: _t) %></button>
    </li>
    <li>
      <button data-text="<%= t("period.month", scope: _t) %>" class="crayons-tabs__item" id="month-button"><%= t("period.month", scope: _t) %></button>
    </li>
    <li>
      <button data-text="<%= t("period.infinity", scope: _t) %>" class="crayons-tabs__item" id="infinity-button"><%= t("period.infinity", scope: _t) %></button>
    </li>
  </ul>
</nav>

<div class="summary-stats">
  <div class="summary-stats__col crayons-card mx-5">
    <div id="readers-card" class="py-3"></div>
  </div>
  <div class="summary-stats__col crayons-card mx-5">
    <div id="reactions-card" class="py-3"></div>
  </div>
  <div class="summary-stats__col crayons-card mx-5">
    <div id="comments-card" class="py-3"></div>
  </div>
  <div class="summary-stats__col crayons-card mx-5">
    <div id="followers-card" class="py-3"></div>
  </div>
</div>

<div class="graphs my-5">
  <div class="graphs__col crayons-card mx-5">
    <h2 class="my-5"><%= t("readers", scope: _t) %></h2>
    <div class="charts-container">
      <canvas id="readers-chart"></canvas>
    </div>
  </div>
  <div class="graphs__col crayons-card mx-5">
    <h2 class="my-5"><%= t("followers", scope: _t) %></h2>
    <div class="charts-container">
      <canvas id="followers-chart"></canvas>
    </div>
  </div>
</div>

<div class="graphs mb-5">
  <div class="graphs__col crayons-card mx-5">
    <h2 class="my-5"><%= t("reactions", scope: _t) %></h2>
    <div class="charts-container">
      <canvas id="reactions-chart"></canvas>
    </div>
  </div>
  <div class="graphs__col crayons-card mx-5">
    <h2 class="my-5"><%= t("comments", scope: _t) %></h2>
    <div class="charts-container">
      <canvas id="comments-chart"></canvas>
    </div>
  </div>
</div>

<div class="w-90 crayons-card mx-5 mb-5 p-5">
  <h2 class="align-center mb-5"><%= t("traffic.text", scope: _t) %></h2>
  <table class="w-100 m-auto crayons-table">
    <thead>
      <tr>
        <th class="align-left"><%= t("traffic.source", scope: _t) %></th>
        <th class="align-right"><%= t("traffic.views", scope: _t) %></th>
      </tr>
    </thead>

    <tbody id="referrers-container">
    </tbody>
  </table>
</div>
