<% _t = t.v.stats %>
<nav class="crayons-tabs crayons-tabs--analytics" aria-label="<%= _t.period.aria_label %>">
  <ul class="crayons-tabs__list">
    <li>
      <button data-text="<%= _t.period.week %>" class="crayons-tabs__item crayons-tabs__item--current" id="week-button" aria-current="page"><%= _t.period.week %></button>
    </li>
    <li>
      <button data-text="<%= _t.period.month %>" class="crayons-tabs__item" id="month-button"><%= _t.period.month %></button>
    </li>
    <li>
      <button data-text="<%= _t.period.infinity %>" class="crayons-tabs__item" id="infinity-button"><%= _t.period.infinity %></button>
    </li>
  </ul>
</nav>

<div class="summary-stats">
  <div class="summary-stats__col crayons-card mx-5">
    <div id="readers-card" class="py-3"></div>
  </div>
  <div class="summary-stats__col crayons-card mx-5">
    <div id="reactions-card" class="py-3"></div>
  </div>
  <div class="summary-stats__col crayons-card mx-5">
    <div id="comments-card" class="py-3"></div>
  </div>
  <div class="summary-stats__col crayons-card mx-5">
    <div id="followers-card" class="py-3"></div>
  </div>
</div>

<div class="graphs my-5">
  <div class="graphs__col crayons-card mx-5">
    <h2 class="my-5"><%= _t.readers %></h2>
    <div class="charts-container">
      <canvas id="readers-chart"></canvas>
    </div>
  </div>
  <div class="graphs__col crayons-card mx-5">
    <h2 class="my-5"><%= _t.followers %></h2>
    <div class="charts-container">
      <canvas id="followers-chart"></canvas>
    </div>
  </div>
</div>

<div class="graphs mb-5">
  <div class="graphs__col crayons-card mx-5">
    <h2 class="my-5"><%= _t.reactions %></h2>
    <div class="charts-container">
      <canvas id="reactions-chart"></canvas>
    </div>
  </div>
  <div class="graphs__col crayons-card mx-5">
    <h2 class="my-5"><%= _t.comments %></h2>
    <div class="charts-container">
      <canvas id="comments-chart"></canvas>
    </div>
  </div>
</div>

<div class="w-90 crayons-card mx-5 mb-5 p-5">
  <h2 class="align-center mb-5"><%= _t.traffic.text %></h2>
  <table class="w-100 m-auto crayons-table">
    <thead>
      <tr>
        <th class="align-left"><%= _t.traffic.source %></th>
        <th class="align-right"><%= _t.traffic.views %></th>
      </tr>
    </thead>

    <tbody id="referrers-container">
    </tbody>
  </table>
</div>
