<ul class="crayons-card grid gap-2 grid-cols-1 s:grid-cols-2 p-4 list-disc">
  <li class="ml-4"><%= community_name %> コメント</li>
  <li class="ml-4"><%= community_name %> リンク</li>
  <li class="ml-4"><%= community_name %> 告知</li>
  <li class="ml-4"><%= community_name %> グループ</li>
  <li class="ml-4"><%= community_name %> ポッドキャスト配信</li>
  <li class="ml-4"><%= community_name %> タグ</li>
  <li class="ml-4"><%= community_name %> ユーザープロフィール</li>
  <li class="ml-4">asciinema</li>
  <li class="ml-4">CodePen</li>
  <li class="ml-4">CodeSandbox</li>
  <li class="ml-4">DotNetFiddle</li>
  <li class="ml-4">GitHub Gist、イシュー、リポジトリ</li>
  <li class="ml-4">Glitch</li>
  <li class="ml-4">Instagram</li>
  <li class="ml-4">JSFiddle</li>
  <li class="ml-4">JSitor</li>
  <li class="ml-4">Loom</li>
  <li class="ml-4">Kotlin</li>
  <li class="ml-4">Medium</li>
  <li class="ml-4">Next Tech</li>
  <li class="ml-4">Reddit</li>
  <li class="ml-4">Replit</li>
  <li class="ml-4">Slideshare</li>
  <li class="ml-4">Speaker Deck</li>
  <li class="ml-4">SoundCloud</li>
  <li class="ml-4">Spotify</li>
  <li class="ml-4">StackBlitz</li>
  <li class="ml-4">Stackery</li>
  <li class="ml-4">Stack Exchange または Stack Overflow</li>
  <li class="ml-4">Twitch</li>
  <li class="ml-4">Twitter</li>
  <li class="ml-4">Twitter タイムライン</li>
  <li class="ml-4">Wikipedia</li>
  <li class="ml-4">Vimeo</li>
  <li class="ml-4">YouTube</li>
</ul>
