<% _t = t.v.search.nav %>
<div class="crayons-layout__sidebar-left search-nav px-3 m:px-0">
  <a class="query-filter-button crayons-link crayons-link--block" data-filter="class_name:Article" href="javascript:;">
    <%= _t.posts %>
  </a>
  <a class="query-filter-button crayons-link crayons-link--block" data-filter="class_name:PodcastEpisode" href="javascript:;">
    <%= _t.podcasts %>
  </a>
  <a class="query-filter-button crayons-link crayons-link--block" data-filter="class_name:User" href="javascript:;">
    <%= _t.people %>
  </a>
  <a class="query-filter-button crayons-link crayons-link--block" data-filter="class_name:Comment" href="javascript:;">
    <%= _t.comments %>
  </a>
  <a class="query-filter-button my-posts-query-button crayons-link crayons-link--block" data-filter="MY_POSTS" href="javascript:;">
    <%= _t.my %>
  </a>
</div>
