<% _t = t.v.search.nav %>
<ul class="crayons-navigation">
  <li><a class="query-filter-button crayons-navigation__item" data-filter="class_name:Article" href="javascript:;">
    <%= _t.posts %>
  </a></li>
  <li><a class="query-filter-button crayons-navigation__item" data-filter="class_name:PodcastEpisode" href="javascript:;">
    <%= _t.podcasts %>
  </a></li>
  <li><a class="query-filter-button crayons-navigation__item" data-filter="class_name:User" href="javascript:;">
    <%= _t.people %>
  </a></li>
  <li><a class="query-filter-button crayons-navigation__item" data-filter="class_name:Comment" href="javascript:;">
    <%= _t.comments %>
  </a></li>
  <li><a class="query-filter-button my-posts-query-button crayons-navigation__item" data-filter="MY_POSTS" href="javascript:;">
    <%= _t.my %>
  </a></li>
</ul>
