<% _t = "v.search.nav" %>
<ul class="crayons-navigation">
  <li><a class="query-filter-button crayons-navigation__item" data-filter="class_name:Article" href="javascript:;">
    <%= t("posts", scope: _t) %>
  </a></li>
  <li><a class="query-filter-button crayons-navigation__item" data-filter="class_name:PodcastEpisode" href="javascript:;">
    <%= t("podcasts", scope: _t) %>
  </a></li>
  <li><a class="query-filter-button crayons-navigation__item" data-filter="class_name:User" href="javascript:;">
    <%= t("people", scope: _t) %>
  </a></li>
  <li><a class="query-filter-button crayons-navigation__item" data-filter="class_name:Comment" href="javascript:;">
    <%= t("comments", scope: _t) %>
  </a></li>
  <li><a class="query-filter-button my-posts-query-button crayons-navigation__item" data-filter="MY_POSTS" href="javascript:;">
    <%= t("my", scope: _t) %>
  </a></li>
</ul>
